.nav-link {
    background-color: white;
    color: inherit;
    text-decoration: none;
}

.nav-link-activated {
    background: #eee;
    color: inherit;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}