.nav-link {
    background-color: white;
    color: inherit;
    text-decoration: none;
}

.nav-link-activated {
    background: #eee;
    color: inherit;
    width: 100%;
    display: inline-block;
    text-decoration: none;
}


.table {
    width: 100%;
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 650px;
    overflow-x: auto;
    box-shadow: 0.5px 0.5px 3px gray;
}

.thead {
    border-collapse: collapse;
    border-spacing: 0;
}

.tbody {
    border-collapse: collapse;
    border-spacing: 0;
}

.tr {
    border-collapse: collapse;
    border-spacing: 0;
}

.th {
    text-align: left;
    font-size: 0.875rem;
    padding: 14px;
    border-bottom: 1px solid #dcdcdc;
}

.td {
    font-weight: 500;
    font-size: 0.875rem;
    border-bottom: 1px solid #dcdcdc;
}


.table .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    height: 45px!important;
}

.table .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 45px!important;
}